.chat-main
  - if @group
    .chat-header
      .chat-header--left
        %h1
          = @group.name
        %p.chat-header__users
          Members:
          - @group.users.each do |user|
            %span.chat-header__user
              = user.name
      .chat-header--right
        = link_to "Edit", edit_group_path(@group), class: "chat-header__edit-btn"

  -# 現時点ではダミーのメッセージデータ
  .chat-body
    %ul.chat-messages
      %li.chat-message
        .chat-message__header
          %p.chat-message__name taro
          %p.chat-message__time 2016/12/01 08:27:51
        %p.chat-message__body テストです
      %li.chat-message
        .chat-message__header
          %p.chat-message__name kimura
          %p.chat-message__time 2016/12/02 08:27:51
        %p.chat-message__body がんばります
      %li.chat-message
        .chat-message__header
          %p.chat-message__name taro
          %p.chat-message__time 2016/12/01 08:27:51
        %p.chat-message__body テストです
      %li.chat-message
        .chat-message__header
          %p.chat-message__name kimura
          %p.chat-message__time 2016/12/02 08:27:51
        %p.chat-message__body がんばります
      %li.chat-message
        .chat-message__header
          %p.chat-message__name taro
          %p.chat-message__time 2016/12/01 08:27:51
        %p.chat-message__body テストです
      %li.chat-message
        .chat-message__header
          %p.chat-message__name kimura
          %p.chat-message__time 2016/12/02 08:27:51
        %p.chat-message__body がんばります

  .chat-footer
    %form{ action: "#", method: "post" }
      .chat-footer__body
        %textarea{ row: "1", placeholder: "type a message" }
        %label.chat-footer__file
          %input#message_image{ type: "file", }
          %i.fa.fa-image
      %input{ type: "submit", value: "Send" }
